<!DOCTYPE html>

<html>
<head>
	<title>Index</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

	<style>
		div.card {
			opacity: 0.8;

			transition-delay: 0s;
			transition-duration: 200ms;
			transition-property: opacity, transform;
			transition-timing-function: ease-in-out;
		}

			div.card:hover {
				opacity: 1.0;
				transform: scale(1.1);
			}
	</style>
</head>
<body>
	<div class="container">
		<h1>
			Learning Bootstrap 4 Card!
		</h1>

		<hr />

		<br />
		<br />

		<div class="row">

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card text-center bg-info border-secondary m-3">
					<img src="/Content/Images/Dog.jpg" class="card-img-top" alt="Card Title">

					<div class="card-header">
						Card Header
					</div>

					<div class="card-body">
						<h5 class="card-title">
							Card Title
						</h5>

						<p class="card-text">
							Card Content
						</p>

						<a href="#" class="btn btn-secondary">Use [card-link] Class!</a>
					</div>

					<div class="card-footer">
						Card Description
					</div>
				</div>
			</div>

		</div>

		<br />
		<br />

		<hr />

	</div>
</body>
</html>
